@model List<TimViec.ViewModel.ChoeseSearchLocation>
@{
	ViewData["Title"] = "Job";
	Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}

<!--welcome-hero start -->
<section id="home" class="welcome-hero" style="height: 220px;">
	<div class="container">
		<div class="welcome-hero-serch-box">
			<div class="welcome-hero-form">
				<div class="single-welcome-hero-form">
					<h3>what?</h3>
					<form>
						<input type="text" id="stringsearch" placeholder="Ex: Java, Back-End, Tester, App Mobile" />
					</form>
					<div class="welcome-hero-form-icon">
						<i class="flaticon-list-with-dots"></i>
					</div>
				</div>
				<div class="single-welcome-hero-form">
					<h3>location</h3>
					<select name="cars" id="cars" class="select_city" style="color: black;width: 250px;margin-left: 20px;border-style: none;font-size: 15px;">
						<option value="0">Select location</option>
						<option value="1">Hồ Chí Minh</option>
						<option value="2">Hà Nội</option>
						<option value="3">Đà Nẵng</option>
						<option value="4">Other</option>
					</select>
					<div class="welcome-hero-form-icon">
						<i class="flaticon-gps-fixed-indicator"></i>
					</div>
				</div>>
			</div>
			<div class="welcome-hero-serch">
				<button class="welcome-hero-btn btn_search" type="button">
					search  <i data-feather="search"></i>
				</button>
			</div>
		</div>
	</div>
</section><!--/.welcome-hero-->

<section id="explore" class="explore" style="padding-top: 30px">
	<h1>
		<strong class="tit-top tit_txt font-size20" style="margin-left: 272px">
			<span style="color: lightcoral">@ViewBag.Count_Jobs</span>
			Jobs base on your select
		</strong>
	</h1>
	<div class="container">
		<div class="explore-content" style="margin-top: 30px">
			<div class="row">
				@foreach (var item in Model)
				{
					<div class=" col-md-4 col-sm-6">
						<div class="single-explore-item">
							<div class="single-explore-img">
								<img style="height: 200px; width: 100%; object-fit: scale-down" src="~/LayoutTimViec/img/@item.Image" alt="explore image">
								<div class="single-explore-img-info">
									<div class="single-explore-image-icon-box">
										<ul>
											<li>
												<div class="single-explore-image-icon">
													<i class="fa fa-bookmark-o favourite_job" id_jobfv="@item.Id"></i>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="single-explore-txt bg-theme-1">
								<h2>
									<a style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; width: 307px" href="#" class="Detail_Job" id_job="@item.Id">@item.NameJob</a>
								</h2>
								<p class="explore-rating-price">
									<a href="#">@item.R1_Language</a>
									<span class="explore-price-box">@item.R2_Language</span>
									<a href="#">@item.R3_Language</a>
								</p>
								<hr />
								<div class="explore-open-close-part">
									<div class="row">
										<div class="col-sm-5">
											<button class="welcome-hero-btn how-work-btn Detail_Job" style="cursor: pointer" type="button" id_job="@item.Id">Detail</button>
										</div>
										<div class="col-sm-7">
											<div class="explore-map-icon">
												<a href="#"><i data-feather="map-pin"></i></a>
												<a href="#"><i data-feather="upload"></i></a>
												<a href="#"><i data-feather="heart"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
				@if (Model.Count == 0)
				{
					<p style="text-align: center;font-size: 20px;">Your select don't have on Website now</p>
				}
			</div>
		</div>
	</div><!--/.container-->
</section><!--/.explore-->
<!--explore end -->

@section Scripts {
	<script>
		$(document).ready(function () {
			//Detail Job
			$('.Detail_Job').click(function () {
				const getID_Job = $(this).attr("id_job");
				debugger;
				$.ajax({
					url: '/Job/Details_Job',
					type: 'GET',
					data: { id: getID_Job },
					success: function (result) {
						window.location.href = "/Job/Details_Job/" + getID_Job;
					},
					error: function (xhr, status, error) {
						alert("An error occurred: " + error);
					}
				})
			})

			//Add favourite job
			$('.favourite_job').click(function () {
				const getID_Job = $(this).attr("id_jobfv");
				$.ajax({
					url: '/Job/Favourite_Job',
					type: 'POST',
					dataType: 'json',
					data: { id: getID_Job },
					success: function (result) {
						window.location.href = "/Job/GetAllFavouriteJob"
					},
					error: function (xhr, status, error) {
						alert("An error eccorred: " + error);
					}
				})
			})
			//Search
			$('.btn_search').click(function () {
				let city_id = $('.select_city').find(':selected').val();
				//Use encodeURI to send character special
				let strSearch = encodeURIComponent($('#stringsearch').val());
				if (strSearch != '' || city_id != 0) {
					window.location.href = '/Search/Search?stringSearch=' + strSearch + '&id=' + city_id;
				}
			})
		});
	</script>
} 