@model IEnumerable<TimViec.Models.favourite_job>
@{
	ViewData["Title"] = "Job";
	Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}
<style>
	.button:hover {
		background-color: #c3c3c3;
	}
</style>
<link rel="stylesheet" href="../../css/informfollow.css">
<section id="explore" class="explore" style="padding-top: 20px">
	<div class="container">
		<div class="section-header" style="text-align: left !important">
			<h2 style="text-transform: none !important;"><span style="color: lightcoral">@ViewBag.Count_follow_job</span> Following job</h2>
		</div><!--/.section-header-->
		<div class="explore-content" style="margin-top: 25px">
			<div class="row">

				@foreach (var item in Model)
				{
					<div class=" col-md-4 col-sm-6">
						<div class="single-explore-item">
							<div class="single-explore-img">
								<img style="height: 200px; width: 100%; object-fit: scale-down" src="~/LayoutTimViec/img/@item.image" alt="explore image">
								<div class="single-explore-img-info">
									<div class="single-explore-image-icon-box">
										<ul>
											<li>
												<div class="single-explore-image-icon">
													<i class="fa fa-bookmark-o delete_fvr" id_jobfv="@item.Id"></i>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="single-explore-txt bg-theme-1" style="padding: 10px">
								<h2><a style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; width: 307px" asp-action="Details_Job" asp-route-id="@item.IDJob">@item.Name</a></h2>
								<p class="explore-rating-price">
									<a href="#">@item.R1_Language</a>
									<span class="explore-price-box">@item.R2_Language</span>
									<a href="#">@item.R3_Language</a>
								</p>
								<div class="explore-open-close-part" style="margin-top: 0">
									<div class="row">
										<div class="col-sm-5" style="width: 100%;">
											<button class="button welcome-hero-btn how-work-btn Detail_Job" style="cursor: pointer; width: 100%; font-size: 16px" type="button" id_job="@item.IDJob">Apply now</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="notification" class="notification hidden">
						<div class="notification-content">
							<span class="check-icon">✔</span>
							<p>
								You have unfollowed <br>
								<strong class="display_name_follow"></strong>
							</p>
						</div>
						<div class="progress-bar1"></div>
					</div>
				}
			</div>
		</div>
	</div><!--/.container-->
</section><!--/.explore-->
<!--explore end -->

@section Scripts{
	<script>
		$(document).ready(function () {
			$('.delete_fvr').click(function () {
				const getId_job = $(this).attr("id_jobfv")
				$.ajax({
					url: '/Job/ChangeFavourite_Job',
					type: 'POST',
					dataType: 'json',
					data: { id: getId_job },
					success: function (result) {
						if(result.success){
							console.log(result)
							const notification = document.getElementById('notification');

							// Show notification
							notification.classList.remove('hidden');
							notification.classList.add('show');

							// Hide notification after 5 seconds
							setTimeout(() => {
								notification.classList.remove('show');
								notification.classList.add('hidden');

								// Reload the page after the notification is hidden
								setTimeout(() => {
									location.reload();
								}, 500);
							}, 3000); // 5 seconds	
							
						}			
					},
					error: function (xhr, status, error) {
						alert("Error");
					}
				})
			})
			//Detail Job
			$('.Detail_Job').click(function () {
				const getID_Job = $(this).attr("id_job");
				debugger;
				$.ajax({
					url: '/Job/Details_Job',
					type: 'GET',
					data: { id: getID_Job },
					success: function (result) {
						window.location.href = "/Job/Details_Job/" + getID_Job;
					},
					error: function (xhr, status, error) {
						alert("An error occurred: " + error);
					}
				})
			})
		});
	</script>
}
