@model IEnumerable<TimViec.Models.Job>
@{
	ViewData["Title"] = "Job";
	Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}

<section id="explore" class="explore">
	<div class="container">
		<div class="section-header">
			<h2>List job</h2>
		</div><!--/.section-header-->
		<div class="explore-content">
			<div class="row">
				@foreach (var item in Model)
				{
					<div class=" col-md-4 col-sm-6">
						<div class="single-explore-item">
							<div class="single-explore-img">
								<img style="height: 200px; width: 100%; object-fit: scale-down" src="~/LayoutTimViec/img/@item.img" alt="explore image">
								<div class="single-explore-img-info">
									<div class="single-explore-image-icon-box">
										<ul>
											<li>
												<div class="single-explore-image-icon">
													<i class="fa fa-arrows-alt"></i>
												</div>
											</li>
											<li>
												<div class="single-explore-image-icon">
													<i class="fa fa-bookmark-o favourite_job" id_jobfv="@item.Id"></i>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="single-explore-txt bg-theme-1">
								<h2><a style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; width: 307px" asp-action="Details_Job" asp-route-id="@item.Id">@item.Title</a></h2>
								<p class="explore-rating-price">
									<a href="#">@item.R1_Language</a>
									<span class="explore-price-box">@item.R2_Language</span>
									<a href="#">@item.R3_Language</a>
								</p>
								<hr />
								<div class="explore-open-close-part">
									<div class="row">
										<div class="col-sm-5">
											<button class="close-btn" onclick="window.location"><a asp-action="Details_Job" asp-route-id="@item.Id">Chi tiết</a></button>
										</div>
										<div class="col-sm-7">
											<div class="explore-map-icon">
												<a href="#"><i data-feather="map-pin"></i></a>
												<a href="#"><i data-feather="upload"></i></a>
												<a href="#"><i data-feather="heart"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div><!--/.container-->
</section><!--/.explore-->
<!--explore end -->