@model List<TimViec.ViewModel.StatusViewModel>
@{
    ViewData["Title"] = "CheckST";
    Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}

<br />
<h3 style="text-align: center">List of jobs being applied for</h3>
<div>
    <hr />
    <dl class="col-md-10" style="width: 1600px; margin-left: 60px">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Job</th>
                    <th scope="col">Company</th>
                    <th scope="col">CV</th>
                    <th scope="col">Note</th>
                    <th scope="col">Status</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody style="height: 115px">
                    <tr>
                        <td scope="row">@item.Name</td>
                        <td scope="row">@item.NameJob</td>
                        <td scope="row">@item.CompanyName</td>
                        <td scope="row"><img src="~/@item.imgCV" style="width: 100px"></td>
                        <td scope="row">@item.Note</td>
                        <td scope="row">
                            @if (@item.StatusName == "Decline")
                            {
                                <div style="height: auto; width: 100%; background-color: indianred; color: white; text-align: center;border-radius: 5px;">@item.StatusName</div>
                            }
                            else if (item.StatusName == "Waiting")
                            {
                                <div style="height: auto; width: 100%; background-color: cornflowerblue; color: white; text-align: center;border-radius: 5px;">@item.StatusName</div>
                            }
                            else if (item.StatusName == "Accept")
                            {
                                <div style="height: auto; width: 100%; background-color: lightgreen; color: white; text-align: center;border-radius: 5px;">@item.StatusName</div>
                            }
                        </td>
                        <td>
                            <form>
                                <button type="submit" asp-action="Delete_Status" asp-route-id="@item.Id" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </dl>
</div>

