@model List<TimViec.ViewModel.GetAllTemplate_ViewModel>
@{
    Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}

<link rel="stylesheet" href="../../css/popup.css">

<div class="top-banner" style="background-image: url(../../assets/img/background.png); height: 150px">
    <div class="container top-banner_content">
        <div class="top-banner_content-detail">
            <h1 style="color: white;font-size: 30px;margin-top: 15px;" class="title">List of standard CV templates 2023</h1>
            <p style="color: white;font-size: 18px;" class="caption">
                CV templates are designed according to each industry.<br>
                Suitable for both students and working people.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="header" style="margin-top: 15px">
        <div class="filters">
            <select id="select_category" style="width: 170px;height: 35px;border-radius: 5px; color: black">
                @foreach(var item in Model)
                {
                    <option class="@("Category_Id" + item.CV_Id)" category_id="@item.CV_Id">@item.Type_Name</option>
                }
            </select>
        </div>  
    </div> 
    <section id="explore" class="explore" style="padding-top:0">
        <div class="container">
            <div class="explore-content" style="margin-top: 25px !important">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class=" col-md-4 col-sm-6" style="width: 20.333333% !important; margin-right: 35px">
                            <div class="single-explore-item" style="border-radius: 9px">
                                <div class="single-explore-img" style="border-radius: 9px">
                                    <img style="height: 200px; width: 100%; object-fit: scale-down" src="../../CV/background_image/@item.Image" alt="explore image">
                                </div>
                                <div class="single-explore-txt bg-theme-1" style="padding: 5px">
                                    <h2>
                                        <a style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; width: 307px; margin: 5px; cursor: pointer;" asp-controller="Tools" asp-action="RenderCreateCV" asp-route-id="@item.CV_Id" class="@("ID" + item.CV_Id) " id_cv="@item.CV_Id">@item.Type_Name</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/.explore--> 
</div>

<script>
    function openPopup() {
        document.getElementById("popup").style.display = "flex";
    }

    function closePopup() {
        document.getElementById("popup").style.display = "none";
    }
</script>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#select_category').change(function () {
                const get_Category_ID = $(this).find(':selected').attr('category_id');
                window.location.href = '/Tools/Gettemplatebycategory?category_id=' + get_Category_ID;
            })

        })
    </script>
}

