@model IEnumerable<TimViec.Models.Company>
@{
	ViewData["Title"] = "Job";
	Layout = "~/Views/Shared/_LayoutTimViec.cshtml";
}

<style>
	.button:hover {
		background-color: #c3c3c3;
		color: white;
	}
</style>

<!--welcome-hero start -->
<section id="home" class="welcome-hero" style="height: 220px;">
	<div class="container">
		<div class="welcome-hero-serch-box">
			<div class="welcome-hero-form">
				<div class="single-welcome-hero-form">
					<h3>what?</h3>
					<form>
						<input type="text" id="stringsearch" placeholder="Enter Company Keyword" style="color: black"/>
					</form>
					<div class="welcome-hero-form-icon">
						<i class="flaticon-list-with-dots"></i>
					</div>
				</div>
				<div class="single-welcome-hero-form">
					<h3>location</h3>
					<select name="cars" id="cars" style="color: black;width: 250px;margin-left: 20px;border-style: none;font-size: 15px;">
						<option value="hcm">Hồ Chí Minh</option>
						<option value="hn">Hà Nội</option>
						<option value="dn">Đà Nẵng</option>
						<option value="other">Khác</option>
					</select>
					<div class="welcome-hero-form-icon">
						<i class="flaticon-gps-fixed-indicator"></i>
					</div>
				</div>
			</div>
			<div class="welcome-hero-serch">
				<button class="welcome-hero-btn btn_search" type="button">
					search  <i data-feather="search"></i>
				</button>
			</div>
		</div>
	</div>
</section><!--/.welcome-hero-->
<section id="explore" class="explore">
	<div class="container">
		<h1>
			<strong class="tit-top tit_txt font-size20">
				<span style="color: lightcoral">@ViewBag.CountCompany</span>
				Companies in Total
			</strong>
		</h1>
		<div class="explore-content" style="margin-top: 20px">
			<div class="row">
				@foreach (var item in Model)
				{
					<div class=" col-md-4 col-sm-6">
						<div class="single-explore-item">
							<div class="single-explore-img">
								<img style="height: 200px; width: 400px; object-fit: scale-down " src="~/LayoutTimViec/img/@item.Image" alt="explore image">
							</div>
							<div class="single-explore-txt bg-theme-1">
								<h2>
									<a style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; width: 307px" asp-action="Details_CPN" asp-route-id="@item.Id">@item.Name_company</a>
								</h2>
								<p class="explore-rating-price">
									<a href="#">Quy mô: @item.Company_size</a>
								</p>
								<hr />
								<div class="explore-open-close-part">
									<div class="row">
										<div class="col-sm-5">
											<button class="button welcome-hero-btn how-work-btn" style="cursor: pointer"><a asp-action="Details_CPN" asp-route-id="@item.Id">Detail</a></button>
										</div>
										<div class="col-sm-7">
											<div class="explore-map-icon">
												<a href="#"><i data-feather="map-pin"></i></a>
												<a href="#"><i data-feather="upload"></i></a>
												<a href="#"><i data-feather="heart"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div><!--/.container-->
</section><!--/.explore-->
<!--explore end -->